@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    animation: show 2s forwards;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('Flux_Dev_A_brand_new_large_and_sleek_tractor_is_depicted_facin_2.jpg');
    background-size: cover;
    background-position: center;
    animation: avatarAnim 2s forwards;
}

.text {
    display: flex;
    margin-top: 20px;
    opacity: 0;
    animation: textAnim 2s 1s forwards;
}

.agro, .cat {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    transform: translateX(-100%);
}

.cat {
    transform: translateX(100%);
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes avatarAnim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes textAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.agro {
    animation: agroAnim 1s 1s forwards;
}

.cat {
    animation: catAnim 1s 1s forwards;
}

@keyframes agroAnim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes catAnim {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}